@charset "UTF=8";

html,body{
  background: white;
  width: 100%;
  height:100%;
  margin: 0 0;
  padding: 0 0;
}

/*div1*/
#topbox{
  position: relative;
  width: 100%;
  height: 10%;
  top: 0px;
}


.topimage img {
  min-height: 12%;
  min-width: 100%;
  position: fixed;
  z-index: 20;
  top: 0px;
}

/*タイトルは画像の左上*/
h1{
  position: fixed;
  z-index: 21;
  top: 0px;
  left: 5%;
}

.title{
  color: white;
  font-size: 40px;
}

/*リンクは画像の右下*/
h2 {
  position: fixed;
  z-index: 21;
  right: 5%;
  top: 20px;
}


a{
  color:white;
  font-size: 24px;
  margin: 0px 12px;
  text-decoration:none;
}

/*div2*/
#concept{
  background: white;
  border-right: solid 1px #DDDDDD;
  position: fixed;
  float: left;
  top: 12%;
  left: 0;
  width: 25%;
  height: 88%;

}

#concept img{
  position: absolute;
  max-width: 60%;
  max-height: 60%;
  margin: 25% 20% 5% 20%;

}

/*div3*/
#work{
  background: white;
  position: relative;
  float:right;
  width: 70%;
/*  height: 100%; */
  margin-top: 5%;
  margin-left:  5px;

}


.onework li{
  list-style-type: none;
  position: relative;
  min-width: 200px;
  min-height: 240px;
  z-index: 10;

  float: left;
  margin-top:20px;
  margin-right: 40px;
  margin-left: 20px;

}

.workimage img{
  position: absolute;
  max-width: 200px;
  max-height: 200px;
  z-index: 10;
  top: 0;
  left: 0;

}

.worktitle{
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 0px;

  color: #555555;
  font-size: 15px;
}
